@model Library.Web.ViewModel.CategoryViewModel

@{
    ViewBag.Title = "Редактирование категории";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel("CategoryEditor")
}

